#### Missing Data

In [2]:
import pandas as pd
import numpy as np

In [3]:
df = pd.DataFrame(np.random.randn(5, 3), index=['a', 'c', 'e', 'f',
'h'],columns=['one', 'two', 'three'])

df = df.reindex(['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h'])

print (df)

        one       two     three
a -1.450813 -0.534434  0.170783
b       NaN       NaN       NaN
c  0.509307  0.920339 -0.942203
d       NaN       NaN       NaN
e  2.388867 -0.073538  0.553562
f  0.514903 -0.404531  0.545153
g       NaN       NaN       NaN
h -0.565503 -0.783820  0.736370

In [6]:
# Check for Missing Values
print (df['one'].isnull())
print("===============")
print (df['one'].notnull())
print("===============")
print (df['one'].sum()) #-> NANs are treated as 0

a    False
b     True
c    False
d     True
e    False
f    False
g     True
h    False
Name: one, dtype: bool
===============
a     True
b    False
c     True
d    False
e     True
f     True
g    False
h     True
Name: one, dtype: bool
===============
1.396760393510722

In [11]:
# Cleaning / Filling Missing Data

# Replace NaN with a Scalar Value
print (df.fillna(0))
print("===============")

# Fill NA Forward and Backward
print (df.fillna(method='pad')) #fill
print("===============")
print (df.fillna(method='backfill')) #bfill
print("===============")

# drop NA
print (df.dropna())
print("===============")
print (df.dropna(axis=1))
print("===============")

        one       two     three
a -1.450813 -0.534434  0.170783
b  0.000000  0.000000  0.000000
c  0.509307  0.920339 -0.942203
d  0.000000  0.000000  0.000000
e  2.388867 -0.073538  0.553562
f  0.514903 -0.404531  0.545153
g  0.000000  0.000000  0.000000
h -0.565503 -0.783820  0.736370
===============
        one       two     three
a -1.450813 -0.534434  0.170783
b -1.450813 -0.534434  0.170783
c  0.509307  0.920339 -0.942203
d  0.509307  0.920339 -0.942203
e  2.388867 -0.073538  0.553562
f  0.514903 -0.404531  0.545153
g  0.514903 -0.404531  0.545153
h -0.565503 -0.783820  0.736370
===============
        one       two     three
a -1.450813 -0.534434  0.170783
b  0.509307  0.920339 -0.942203
c  0.509307  0.920339 -0.942203
d  2.388867 -0.073538  0.553562
e  2.388867 -0.073538  0.553562
f  0.514903 -0.404531  0.545153
g -0.565503 -0.783820  0.736370
h -0.565503 -0.783820  0.736370
===============
        one       two     three
a -1.450813 -0.534434  0.170783
c  0.509307  0.920339 -0.942203
e  2.388867 -0.073538  0.553562
f  0.514903 -0.404531  0.545153
h -0.565503 -0.783820  0.736370
===============
Empty DataFrame
Columns: []
Index: [a, b, c, d, e, f, g, h]
===============

In [12]:
# Replace Missing (or) Generic Values
df = pd.DataFrame({'one':[10,20,30,40,50,2000], 'two':[1000,0,30,40,50,60]})
print(df)
print("===============")
print (df.replace({1000:10,2000:60}))
print("===============")

    one   two
0    10  1000
1    20     0
2    30    30
3    40    40
4    50    50
5  2000    60
===============
   one  two
0   10   10
1   20    0
2   30   30
3   40   40
4   50   50
5   60   60
===============

#### GroupBy
Any groupby operation involves one of the following operations on the original object. They are −

- Splitting the Object
- Applying a function
- Combining the results

In many situations, we split the data into sets and we apply some functionality on each subset. In the apply functionality, we can perform the following operations −

- Aggregation − computing a summary statistic
- Transformation − perform some group-specific operation
- Filtration − discarding the data with some condition

In [13]:
ipl_data = {'Team': ['Riders', 'Riders', 'Devils', 'Devils', 'Kings',
   'kings', 'Kings', 'Kings', 'Riders', 'Royals', 'Royals', 'Riders'],
   'Rank': [1, 2, 2, 3, 3,4 ,1 ,1,2 , 4,1,2],
   'Year': [2014,2015,2014,2015,2014,2015,2016,2017,2016,2014,2015,2017],
   'Points':[876,789,863,673,741,812,756,788,694,701,804,690]}
df = pd.DataFrame(ipl_data)

print (df)

      Team  Rank  Year  Points
0   Riders     1  2014     876
1   Riders     2  2015     789
2   Devils     2  2014     863
3   Devils     3  2015     673
4    Kings     3  2014     741
5    kings     4  2015     812
6    Kings     1  2016     756
7    Kings     1  2017     788
8   Riders     2  2016     694
9   Royals     4  2014     701
10  Royals     1  2015     804
11  Riders     2  2017     690

In [19]:
#Split Data into Groups
# Pandas object can be split into any of their objects. There are multiple ways to split an object like −
# -obj.groupby('key')
# -obj.groupby(['key1','key2'])
# -obj.groupby(key,axis=1)

print (df.groupby('Team'))
print("===============")


# View Groups
print (df.groupby('Team').groups)
print("===============")
print (df.groupby(['Team','Rank']).groups)
print("===============")

<pandas.core.groupby.generic.DataFrameGroupBy object at 0x1166aeb50>
===============
{'Devils': Int64Index([2, 3], dtype='int64'), 'Kings': Int64Index([4, 6, 7], dtype='int64'), 'Riders': Int64Index([0, 1, 8, 11], dtype='int64'), 'Royals': Int64Index([9, 10], dtype='int64'), 'kings': Int64Index([5], dtype='int64')}
===============
{('Devils', 2): Int64Index([2], dtype='int64'), ('Devils', 3): Int64Index([3], dtype='int64'), ('Kings', 1): Int64Index([6, 7], dtype='int64'), ('Kings', 3): Int64Index([4], dtype='int64'), ('Riders', 1): Int64Index([0], dtype='int64'), ('Riders', 2): Int64Index([1, 8, 11], dtype='int64'), ('Royals', 1): Int64Index([10], dtype='int64'), ('Royals', 4): Int64Index([9], dtype='int64'), ('kings', 4): Int64Index([5], dtype='int64')}
===============

In [21]:
# Iterating through Groups

grouped = df.groupby('Year')

for name,group in grouped:
   print (name)
   print (group)
print("===============")

# Select single group
print (grouped.get_group(2014))

2014
     Team  Rank  Year  Points
0  Riders     1  2014     876
2  Devils     2  2014     863
4   Kings     3  2014     741
9  Royals     4  2014     701
2015
      Team  Rank  Year  Points
1   Riders     2  2015     789
3   Devils     3  2015     673
5    kings     4  2015     812
10  Royals     1  2015     804
2016
     Team  Rank  Year  Points
6   Kings     1  2016     756
8  Riders     2  2016     694
2017
      Team  Rank  Year  Points
7    Kings     1  2017     788
11  Riders     2  2017     690
===============
     Team  Rank  Year  Points
0  Riders     1  2014     876
2  Devils     2  2014     863
4   Kings     3  2014     741
9  Royals     4  2014     701

In [29]:
# Aggregations
grouped = df.groupby('Year')
print (grouped['Points'].agg(np.mean))
print("===============")

grouped = df.groupby('Team')
print (grouped.agg(np.size))
print("===============")
# Applying Multiple Aggregation Functions at Once
grouped = df.groupby('Team')
print (grouped['Points'].agg([np.sum, np.mean, np.std]))

Year
2014    795.25
2015    769.50
2016    725.00
2017    739.00
Name: Points, dtype: float64
===============
        Rank  Year  Points
Team
Devils     2     2       2
Kings      3     3       3
Riders     4     4       4
Royals     2     2       2
kings      1     1       1
===============
         sum        mean         std
Team
Devils  1536  768.000000  134.350288
Kings   2285  761.666667   24.006943
Riders  3049  762.250000   88.567771
Royals  1505  752.500000   72.831998
kings    812  812.000000         NaN

In [30]:
# Transformations
# Transformation on a group or a column returns an object that is indexed the same size of that is being grouped. Thus, the transform should return a result that is the same size as that of a group chunk.

grouped = df.groupby('Team')
score = lambda x: (x - x.mean()) / x.std()*10
print (grouped.transform(score))

         Rank       Year     Points
0  -15.000000 -11.618950  12.843272
1    5.000000  -3.872983   3.020286
2   -7.071068  -7.071068   7.071068
3    7.071068   7.071068  -7.071068
4   11.547005 -10.910895  -8.608621
5         NaN        NaN        NaN
6   -5.773503   2.182179  -2.360428
7   -5.773503   8.728716  10.969049
8    5.000000   3.872983  -7.705963
9    7.071068  -7.071068  -7.071068
10  -7.071068   7.071068   7.071068
11   5.000000  11.618950  -8.157595

In [32]:
# Filter

print (df.groupby('Team').filter(lambda x: len(x) >= 3)) # which have participated three or more times

      Team  Rank  Year  Points
0   Riders     1  2014     876
1   Riders     2  2015     789
4    Kings     3  2014     741
6    Kings     1  2016     756
7    Kings     1  2017     788
8   Riders     2  2016     694
11  Riders     2  2017     690

#### Merging/Joining

pd.merge(left, right, how='inner', on=None, left_on=None, right_on=None,
left_index=False, right_index=False, sort=True)

Here, we have used the following parameters −

- left − A DataFrame object.
- right − Another DataFrame object.
- on − Columns (names) to join on. Must be found in both the left and right DataFrame objects.
- left_on − Columns from the left DataFrame to use as keys. Can either be column names or arrays with length equal to the length of the DataFrame.
- right_on − Columns from the right DataFrame to use as keys. Can either be column names or arrays with length equal to the length of the DataFrame.
- left_index − If True, use the index (row labels) from the left DataFrame as its join key(s). In case of a DataFrame with a MultiIndex (hierarchical), the number of levels must match the number of join keys from the right DataFrame.
- right_index − Same usage as left_index for the right DataFrame.
- how − One of 'left', 'right', 'outer', 'inner'. Defaults to inner. Each method has been described below.
- sort − Sort the result DataFrame by the join keys in lexicographical order. Defaults to True, setting to False will improve the performance substantially in many cases.

In [33]:
left = pd.DataFrame({
   'id':[1,2,3,4,5],
   'Name': ['Alex', 'Amy', 'Allen', 'Alice', 'Ayoung'],
   'subject_id':['sub1','sub2','sub4','sub6','sub5']})
right = pd.DataFrame(
   {'id':[1,2,3,4,5],
   'Name': ['Billy', 'Brian', 'Bran', 'Bryce', 'Betty'],
   'subject_id':['sub2','sub4','sub3','sub6','sub5']})
print (left)
print (right)

   id    Name subject_id
0   1    Alex       sub1
1   2     Amy       sub2
2   3   Allen       sub4
3   4   Alice       sub6
4   5  Ayoung       sub5
   id   Name subject_id
0   1  Billy       sub2
1   2  Brian       sub4
2   3   Bran       sub3
3   4  Bryce       sub6
4   5  Betty       sub5

In [35]:
print (pd.merge(left,right,on='id'))
print("===============")

print (pd.merge(left,right,on=['id','subject_id']))

   id  Name_x subject_id_x Name_y subject_id_y
0   1    Alex         sub1  Billy         sub2
1   2     Amy         sub2  Brian         sub4
2   3   Allen         sub4   Bran         sub3
3   4   Alice         sub6  Bryce         sub6
4   5  Ayoung         sub5  Betty         sub5
===============
   id  Name_x subject_id Name_y
0   4   Alice       sub6  Bryce
1   5  Ayoung       sub5  Betty

In [38]:
# Using 'how' Argument

print (pd.merge(left, right, on='subject_id', how='left'))
print("===============")

print (pd.merge(left, right, on='subject_id', how='right'))
print("===============")

print (pd.merge(left, right, on='subject_id', how='outer'))
print("===============")

print (pd.merge(left, right, on='subject_id', how='inner'))

   id_x  Name_x subject_id  id_y Name_y
0     1    Alex       sub1   NaN    NaN
1     2     Amy       sub2   1.0  Billy
2     3   Allen       sub4   2.0  Brian
3     4   Alice       sub6   4.0  Bryce
4     5  Ayoung       sub5   5.0  Betty
===============
   id_x  Name_x subject_id  id_y Name_y
0   2.0     Amy       sub2     1  Billy
1   3.0   Allen       sub4     2  Brian
2   4.0   Alice       sub6     4  Bryce
3   5.0  Ayoung       sub5     5  Betty
4   NaN     NaN       sub3     3   Bran
===============
   id_x  Name_x subject_id  id_y Name_y
0   1.0    Alex       sub1   NaN    NaN
1   2.0     Amy       sub2   1.0  Billy
2   3.0   Allen       sub4   2.0  Brian
3   4.0   Alice       sub6   4.0  Bryce
4   5.0  Ayoung       sub5   5.0  Betty
5   NaN     NaN       sub3   3.0   Bran
===============
   id_x  Name_x subject_id  id_y Name_y
0     2     Amy       sub2     1  Billy
1     3   Allen       sub4     2  Brian
2     4   Alice       sub6     4  Bryce
3     5  Ayoung       sub5     5  Betty

#### Concatenation

pd.concat(objs,axis=0,join='outer',join_axes=None, ignore_index=False)

- objs − This is a sequence or mapping of Series, DataFrame, or Panel objects.
- axis − {0, 1, ...}, default 0. This is the axis to concatenate along.
- join − {‘inner’, ‘outer’}, default ‘outer’. How to handle indexes on other axis(es). Outer for union and inner for intersection.
- ignore_index − boolean, default False. If True, do not use the index values on the concatenation axis. The resulting axis will be labeled 0, ..., n - 1.
- join_axes − This is the list of Index objects. Specific indexes to use for the other (n-1) axes instead of performing inner/outer set logic.

In [39]:
one = pd.DataFrame({
   'Name': ['Alex', 'Amy', 'Allen', 'Alice', 'Ayoung'],
   'subject_id':['sub1','sub2','sub4','sub6','sub5'],
   'Marks_scored':[98,90,87,69,78]},
   index=[1,2,3,4,5])

two = pd.DataFrame({
   'Name': ['Billy', 'Brian', 'Bran', 'Bryce', 'Betty'],
   'subject_id':['sub2','sub4','sub3','sub6','sub5'],
   'Marks_scored':[89,80,79,97,88]},
   index=[1,2,3,4,5])

print(one)
print(two)

     Name subject_id  Marks_scored
1    Alex       sub1            98
2     Amy       sub2            90
3   Allen       sub4            87
4   Alice       sub6            69
5  Ayoung       sub5            78
    Name subject_id  Marks_scored
1  Billy       sub2            89
2  Brian       sub4            80
3   Bran       sub3            79
4  Bryce       sub6            97
5  Betty       sub5            88

In [43]:
# concat
print (pd.concat([one,two]))
print("===============")

print (pd.concat([one,two],keys=['x','y']))
print("===============")

# ignore index
print (pd.concat([one,two],keys=['x','y'],ignore_index=True))

     Name subject_id  Marks_scored
1    Alex       sub1            98
2     Amy       sub2            90
3   Allen       sub4            87
4   Alice       sub6            69
5  Ayoung       sub5            78
1   Billy       sub2            89
2   Brian       sub4            80
3    Bran       sub3            79
4   Bryce       sub6            97
5   Betty       sub5            88
===============
       Name subject_id  Marks_scored
x 1    Alex       sub1            98
  2     Amy       sub2            90
  3   Allen       sub4            87
  4   Alice       sub6            69
  5  Ayoung       sub5            78
y 1   Billy       sub2            89
  2   Brian       sub4            80
  3    Bran       sub3            79
  4   Bryce       sub6            97
  5   Betty       sub5            88
===============
     Name subject_id  Marks_scored
0    Alex       sub1            98
1     Amy       sub2            90
2   Allen       sub4            87
3   Alice       sub6            69
4  Ayoung       sub5            78
5   Billy       sub2            89
6   Brian       sub4            80
7    Bran       sub3            79
8   Bryce       sub6            97
9   Betty       sub5            88

In [44]:
# along axis 1
print (pd.concat([one,two],axis=1))

     Name subject_id  Marks_scored   Name subject_id  Marks_scored
1    Alex       sub1            98  Billy       sub2            89
2     Amy       sub2            90  Brian       sub4            80
3   Allen       sub4            87   Bran       sub3            79
4   Alice       sub6            69  Bryce       sub6            97
5  Ayoung       sub5            78  Betty       sub5            88

In [45]:
# append -> same as concat, but only for axis 0
print (one.append([two,one,two]))

     Name subject_id  Marks_scored
1    Alex       sub1            98
2     Amy       sub2            90
3   Allen       sub4            87
4   Alice       sub6            69
5  Ayoung       sub5            78
1   Billy       sub2            89
2   Brian       sub4            80
3    Bran       sub3            79
4   Bryce       sub6            97
5   Betty       sub5            88
1    Alex       sub1            98
2     Amy       sub2            90
3   Allen       sub4            87
4   Alice       sub6            69
5  Ayoung       sub5            78
1   Billy       sub2            89
2   Brian       sub4            80
3    Bran       sub3            79
4   Bryce       sub6            97
5   Betty       sub5            88