### Basic Functionality

#### Series Basic Functionality

In [2]:
import pandas as pd
import numpy as np

#Create a series with 4 random numbers
s = pd.Series(np.random.randn(4))
print(s)

0   -0.301815
1   -0.671261
2   -3.083109
3   -0.157356
dtype: float64

In [3]:
# axes : Returns the list of the labels of the series.
print ("The axes are:")
print(s.axes)

The axes are:
[RangeIndex(start=0, stop=4, step=1)]

In [4]:
# empty
print ("Is the Object empty?")
print(s.empty)

Is the Object empty?
False

In [5]:
# ndim 
print ("The dimensions of the object:")
print (s.ndim)

The dimensions of the object:
1

In [6]:
# size
print ("The size of the object:")
print (s.size)

The size of the object:
4

In [7]:
# values
print ("The actual data series is:")
print (s.values)

The actual data series is:
[-0.30181468 -0.67126134 -3.08310907 -0.15735586]

In [8]:
# head, tail
print ("The first two rows of the data series:")
print (s.head(2))

print ("The last two rows of the data series:")
print (s.tail(2))

The first two rows of the data series:
0   -0.301815
1   -0.671261
dtype: float64
The last two rows of the data series:
2   -3.083109
3   -0.157356
dtype: float64

#### DataFrame Basic Functionality

In [10]:
#Create a Dictionary of series
d = {'Name':pd.Series(['Tom','James','Ricky','Vin','Steve','Smith','Jack']),
   'Age':pd.Series([25,26,25,23,30,29,23]),
   'Rating':pd.Series([4.23,3.24,3.98,2.56,3.20,4.6,3.8])}

#Create a DataFrame
df = pd.DataFrame(d)
print ("Our data series is:")
print (df)

Our data series is:
    Name  Age  Rating
0    Tom   25    4.23
1  James   26    3.24
2  Ricky   25    3.98
3    Vin   23    2.56
4  Steve   30    3.20
5  Smith   29    4.60
6   Jack   23    3.80

In [11]:
# T (Transpose)
print ("The transpose of the data series is:")
print (df.T)

The transpose of the data series is:
           0      1      2     3      4      5     6
Name     Tom  James  Ricky   Vin  Steve  Smith  Jack
Age       25     26     25    23     30     29    23
Rating  4.23   3.24   3.98  2.56    3.2    4.6   3.8

In [12]:
# axes
print ("Row axis labels and column axis labels are:")
print (df.axes)

Row axis labels and column axis labels are:
[RangeIndex(start=0, stop=7, step=1), Index(['Name', 'Age', 'Rating'], dtype='object')]

In [13]:
# dtypes
print ("The data types of each column are:")
print (df.dtypes)

The data types of each column are:
Name       object
Age         int64
Rating    float64
dtype: object

In [14]:
# empty
print ("Is the object empty?")
print (df.empty)

Is the object empty?
False

In [15]:
# ndim
print ("The dimension of the object is:")
print (df.ndim)

The dimension of the object is:
2

In [16]:
# shape -> returns tuple
print ("The shape of the object is:")
print (df.shape)

The shape of the object is:
(7, 3)

In [17]:
# size
print ("The total number of elements in our object is:")
print (df.size)

The total number of elements in our object is:
21

In [18]:
# values -> Returns the actual data in the DataFrame as an NDarray.
print ("The actual data in our data frame is:")
print (df.values)

The actual data in our data frame is:
[['Tom' 25 4.23]
 ['James' 26 3.24]
 ['Ricky' 25 3.98]
 ['Vin' 23 2.56]
 ['Steve' 30 3.2]
 ['Smith' 29 4.6]
 ['Jack' 23 3.8]]

In [19]:
# head, tail
print ("The first two rows of the data frame is:")
print (df.head(2))

print ("The last two rows of the data frame is:")
print (df.tail(2))

The first two rows of the data frame is:
    Name  Age  Rating
0    Tom   25    4.23
1  James   26    3.24
The last two rows of the data frame is:
    Name  Age  Rating
5  Smith   29     4.6
6   Jack   23     3.8

### Descriptive Statistics

In [20]:
#Create a Dictionary of series
d = {'Name':pd.Series(['Tom','James','Ricky','Vin','Steve','Smith','Jack',
   'Lee','David','Gasper','Betina','Andres']),
   'Age':pd.Series([25,26,25,23,30,29,23,34,40,30,51,46]),
   'Rating':pd.Series([4.23,3.24,3.98,2.56,3.20,4.6,3.8,3.78,2.98,4.80,4.10,3.65])
}

#Create a DataFrame
df = pd.DataFrame(d)
print (df)

      Name  Age  Rating
0      Tom   25    4.23
1    James   26    3.24
2    Ricky   25    3.98
3      Vin   23    2.56
4    Steve   30    3.20
5    Smith   29    4.60
6     Jack   23    3.80
7      Lee   34    3.78
8    David   40    2.98
9   Gasper   30    4.80
10  Betina   51    4.10
11  Andres   46    3.65

In [22]:
# sum -> Returns the sum of the values for the requested axis. By default, axis is index (axis=0).
print (df.sum())

print("================")

print (df.sum(1)) # -> axis 1

Name      TomJamesRickyVinSteveSmithJackLeeDavidGasperBe...
Age                                                     382
Rating                                                44.92
dtype: object
================
0     29.23
1     29.24
2     28.98
3     25.56
4     33.20
5     33.60
6     26.80
7     37.78
8     42.98
9     34.80
10    55.10
11    49.65
dtype: float64

In [25]:
# mean -> Returns the average value
print (df.mean())

Age       31.833333
Rating     3.743333
dtype: float64

In [26]:
# std -> standard deviation of the numerical columns
print (df.std())

Age       9.232682
Rating    0.661628
dtype: float64

In [27]:
# count, sum, mean, median, mode, std, min, max, abs, prod, cumsum, cumprod

In [30]:
# Summarizing Data
print (df.describe())

print("===================")

# describe include : by default number
# -object − Summarizes String columns
# -number − Summarizes Numeric columns
# -all − Summarizes all columns together (Should not pass it as a list value)
print (df.describe(include=['object']))

print("===================")

print (df. describe(include='all'))

             Age     Rating
count  12.000000  12.000000
mean   31.833333   3.743333
std     9.232682   0.661628
min    23.000000   2.560000
25%    25.000000   3.230000
50%    29.500000   3.790000
75%    35.500000   4.132500
max    51.000000   4.800000
===================
         Name
count      12
unique     12
top     Smith
freq        1
===================
         Name        Age     Rating
count      12  12.000000  12.000000
unique     12        NaN        NaN
top     Smith        NaN        NaN
freq        1        NaN        NaN
mean      NaN  31.833333   3.743333
std       NaN   9.232682   0.661628
min       NaN  23.000000   2.560000
25%       NaN  25.000000   3.230000
50%       NaN  29.500000   3.790000
75%       NaN  35.500000   4.132500
max       NaN  51.000000   4.800000

#### Function Application

In [36]:
# Table-wise Function Application : pipe()
# Custom operations can be performed by passing the function and the appropriate number of parameters as pipe arguments. Thus, operation is performed on the whole DataFrame.
# For example, add a value 2 to all the elements in the DataFrame. Then,

df = pd.DataFrame(np.random.randn(5,3),columns=['col1','col2','col3'])
print(df)
print("=============")

def adder(ele1,ele2):
   return ele1+ele2

print(df.pipe(adder,2))
print("=============")


# Row or Column Wise Function Application : apply
print(df.apply(np.mean))
print("=============")
print(df.apply(np.mean,axis=1))
print("=============")
print(df.apply(lambda x: x.max() - x.min()))
print("=============")

# Element Wise Function Application
# the methods applymap() on DataFrame and analogously map() on Series accept any Python function taking a single value and returning a single value.
print(df['col1'].map(lambda x:x*100))
print("=============")
print(df.applymap(lambda x:x*100))

       col1      col2      col3
0  1.630878  0.961651  0.747597
1  1.177849  0.988515 -0.483801
2 -0.348332 -1.431008  1.630069
3  0.525402  1.119503  0.348119
4  0.595321  0.640442  0.084993
=============
       col1      col2      col3
0  3.630878  2.961651  2.747597
1  3.177849  2.988515  1.516199
2  1.651668  0.568992  3.630069
3  2.525402  3.119503  2.348119
4  2.595321  2.640442  2.084993
=============
col1    0.716224
col2    0.455820
col3    0.465395
dtype: float64
=============
0    1.113375
1    0.560854
2   -0.049757
3    0.664341
4    0.440252
dtype: float64
=============
col1    1.979210
col2    2.550511
col3    2.113870
dtype: float64
=============
0    163.087830
1    117.784871
2    -34.833196
3     52.540241
4     59.532145
Name: col1, dtype: float64
=============
         col1        col2        col3
0  163.087830   96.165066   74.759684
1  117.784871   98.851461  -48.380096
2  -34.833196 -143.100814  163.006932
3   52.540241  111.950292   34.811876
4   59.532145   64.044156    8.499281

#### Reindexing

In [49]:
N=20

df = pd.DataFrame({
   'A': pd.date_range(start='2016-01-01',periods=N,freq='D'),
   'x': np.linspace(0,stop=N-1,num=N),
   'y': np.random.rand(N),
   'C': np.random.choice(['Low','Medium','High'],N).tolist(),
   'D': np.random.normal(100, 10, size=(N)).tolist()
})

print(df)
print("=============")

#reindex the DataFrame
df_reindexed = df.reindex(index=[0,2,5], columns=['A', 'C', 'B'])

print (df_reindexed)
print("=============")

# Reindex to Align with Other Objects
# You may wish to take an object and reindex its axes to be labeled the same as another object.
df1 = pd.DataFrame(np.random.randn(10,3),columns=['col1','col2','col3'])
df2 = pd.DataFrame(np.random.randn(7,3),columns=['col1','col2','col3'])
print(df1)
print("=============")
print(df2)
print("=============")
df1 = df1.reindex_like(df2)
print(df1) # Here, the df1 DataFrame is altered and reindexed like df2. The column names should be matched or else NAN will be added for the entire column label.
print("=============")


# Filling with reindexing
# - pad/ffill − Fill values forward
# - bfill/backfill − Fill values backward
# - nearest − Fill from the nearest index values

df1 = pd.DataFrame(np.random.randn(6,3),columns=['col1','col2','col3'])
df2 = pd.DataFrame(np.random.randn(2,3),columns=['col1','col2','col3'])
print(df1)
print("=============")
print(df2)
print("=============")

# Padding NAN's
print (df2.reindex_like(df1))

# Now Fill the NAN's with preceding Values
print ("Data Frame with Forward Fill:")
print (df2.reindex_like(df1,method='ffill'))
print("=============")

# Limits on Filling while Reindexing
# Limit specifies the maximum count of consecutive matches.
df1 = pd.DataFrame(np.random.randn(6,3),columns=['col1','col2','col3'])
df2 = pd.DataFrame(np.random.randn(2,3),columns=['col1','col2','col3'])
print(df1)
print("=============")
print(df2)
print("=============")

# Padding NAN's
print (df2.reindex_like(df1))

# Now Fill the NAN's with preceding Values
print ("Data Frame with Forward Fill limiting to 1:")
print (df2.reindex_like(df1,method='ffill',limit=1))


# Renaming
# relabel an axis based on some mapping (a dict or Series) or an arbitrary function.
# The rename() method provides an inplace named parameter, which by default is False and copies the underlying data. Pass inplace=True to rename the data in place.
df1 = pd.DataFrame(np.random.randn(6,3),columns=['col1','col2','col3'])
print (df1)

print ("After renaming the rows and columns:")
print (df1.rename(columns={'col1' : 'c1', 'col2' : 'c2'},
index = {0 : 'apple', 1 : 'banana', 2 : 'durian'}))

            A     x         y       C           D
0  2016-01-01   0.0  0.356407    High  103.754872
1  2016-01-02   1.0  0.634253     Low  105.731359
2  2016-01-03   2.0  0.085029     Low  103.517769
3  2016-01-04   3.0  0.213268  Medium  105.550180
4  2016-01-05   4.0  0.942544     Low  107.947475
5  2016-01-06   5.0  0.800551    High  103.008759
6  2016-01-07   6.0  0.865869     Low  105.876293
7  2016-01-08   7.0  0.881858     Low  104.097812
8  2016-01-09   8.0  0.073767     Low  103.919086
9  2016-01-10   9.0  0.017781    High  106.633294
10 2016-01-11  10.0  0.958474  Medium  103.961086
11 2016-01-12  11.0  0.317015    High   81.179383
12 2016-01-13  12.0  0.277716    High   88.397944
13 2016-01-14  13.0  0.042937     Low  110.603508
14 2016-01-15  14.0  0.537557    High  101.465286
15 2016-01-16  15.0  0.506483     Low   81.257398
16 2016-01-17  16.0  0.984332    High   89.240706
17 2016-01-18  17.0  0.717989  Medium  100.431086
18 2016-01-19  18.0  0.934839    High  106.071087
19 2016-01-20  19.0  0.397440    High   97.376034
=============
           A     C   B
0 2016-01-01  High NaN
2 2016-01-03   Low NaN
5 2016-01-06  High NaN
=============
       col1      col2      col3
0  0.465681  1.257118 -1.278640
1  0.034262 -1.523680  0.756213
2 -0.860658 -0.438218  0.681879
3 -1.061039 -0.372063 -0.076266
4 -0.344314  1.838096 -0.036375
5  1.556266  2.821072  0.913609
6  1.129635 -1.594576 -1.213516
7  0.649433  0.176668 -1.720876
8  0.018798  0.756429  0.419854
9 -1.109005 -0.459281  1.211523
=============
       col1      col2      col3
0 -1.218729  1.878302 -1.458762
1  0.940298  0.064005 -0.927826
2  1.501443 -0.861997 -2.331671
3  0.532645  0.535605 -0.335554
4 -0.011037 -0.085272  0.479595
5  0.315458 -0.702743  2.106197
6  1.652406  1.074530 -1.178838
=============
       col1      col2      col3
0  0.465681  1.257118 -1.278640
1  0.034262 -1.523680  0.756213
2 -0.860658 -0.438218  0.681879
3 -1.061039 -0.372063 -0.076266
4 -0.344314  1.838096 -0.036375
5  1.556266  2.821072  0.913609
6  1.129635 -1.594576 -1.213516
=============
       col1      col2      col3
0 -2.722714  0.874768 -1.664072
1  1.703037 -0.772065  0.814163
2 -0.833098  1.111257  1.753718
3 -0.661331  0.515634 -0.538686
4 -2.347974  0.164828  0.021061
5  1.093600 -1.248400 -1.146303
=============
       col1      col2      col3
0 -0.042757  0.806011 -0.030475
1  1.000146  0.739750  0.340840
=============
       col1      col2      col3
0 -0.042757  0.806011 -0.030475
1  1.000146  0.739750  0.340840
2       NaN       NaN       NaN
3       NaN       NaN       NaN
4       NaN       NaN       NaN
5       NaN       NaN       NaN
Data Frame with Forward Fill:
       col1      col2      col3
0 -0.042757  0.806011 -0.030475
1  1.000146  0.739750  0.340840
2  1.000146  0.739750  0.340840
3  1.000146  0.739750  0.340840
4  1.000146  0.739750  0.340840
5  1.000146  0.739750  0.340840
=============
       col1      col2      col3
0 -0.458315 -1.999290  1.278302
1  0.026136  1.177132 -0.221355
2  1.650861  1.045393  0.927441
3 -0.685781  0.035544  0.290523
4  0.179442 -1.455268 -0.060093
5  0.434337  0.586303 -0.768184
=============
       col1      col2      col3
0  0.346739 -0.796385 -1.305739
1  0.133862 -1.044161  0.554829
=============
       col1      col2      col3
0  0.346739 -0.796385 -1.305739
1  0.133862 -1.044161  0.554829
2       NaN       NaN       NaN
3       NaN       NaN       NaN
4       NaN       NaN       NaN
5       NaN       NaN       NaN
Data Frame with Forward Fill limiting to 1:
       col1      col2      col3
0  0.346739 -0.796385 -1.305739
1  0.133862 -1.044161  0.554829
2  0.133862 -1.044161  0.554829
3       NaN       NaN       NaN
4       NaN       NaN       NaN
5       NaN       NaN       NaN
       col1      col2      col3
0 -0.720782  0.751623 -0.627163
1 -1.052844  0.611342  0.528267
2  3.391839  0.509876 -2.058282
3 -0.068329 -0.956082 -0.193206
4 -1.415331  0.221817 -0.441066
5 -1.964778  1.476266 -0.231907
After renaming the rows and columns:
              c1        c2      col3
apple  -0.720782  0.751623 -0.627163
banana -1.052844  0.611342  0.528267
durian  3.391839  0.509876 -2.058282
3      -0.068329 -0.956082 -0.193206
4      -1.415331  0.221817 -0.441066
5      -1.964778  1.476266 -0.231907