In [1]:
print("Hello, World!")

Hello, World!

In [6]:
if 5 > 2:
    print("Five is greater than two!")

Five is greater than two!

In [7]:
#This is a comment

In [13]:
# Variables:
x = 5
y = "John"
print(x)
print(y)

a, b, c = "Orange", "Banana", "Cherry"
print(a)
print(b)
print(c)

z =  b + c
print(z)

# print(x + y) -> error : unsupported operand type(s) for +: 'int' and 'str'

5
John
Orange
Banana
Cherry
BananaCherry

In [14]:
# global keyword
x = "awesome"

def myfunc():
  global x
  x = "fantastic"

myfunc()

print("Python is " + x)

Python is fantastic

In [16]:
# data types
x = 5
print(type(x))

x = "Hello World" #str
x = 20 #int
x = 20.5 #float
x = 1j #complex
x = ["apple", "banana", "cherry"] #list
x = ("apple", "banana", "cherry") #tuple
x = range(6) #range
x = {"name" : "John", "age" : 36} #dict
x = {"apple", "banana", "cherry"} #set
x = frozenset({"apple", "banana", "cherry"}) #frozenset
x = True #bool
x = b"Hello" #bytes
x = bytearray(5) #bytearray
x = memoryview(bytes(5)) #memoryview

In [21]:
# type conversion

x = 1    # int
y = 2.8  # float
z = 1j   # complex

#convert from int to float:
a = float(x)

#convert from float to int:
b = int(y)

#convert from int to complex:
c = complex(x)

print(a)
print(b)
print(c)

print(type(a))
print(type(b))
print(type(c))

w = float("4.2") # w will be 4.2
print(w)

1.0
2
(1+0j)
<class 'float'>
<class 'int'>
<class 'complex'>
4.2

In [20]:
# random number 
import random
print(random.randrange(1, 10)) # random number between 1 and 9

9

In [37]:
# string
a = """Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua."""
print(a)

x = "Hello, World!"
print(x[1])

# slicing
print(x[2:5])
print(x[-5:-2])

# length
print(len(x))

# strip : to remove any whitespace from the beginning or the end:
a = " Hello, World! "
print(a.strip()) # returns "Hello, World!"

# lower / upper
print(a.lower())

# replace 
print(a.replace("He", "Jo"))

#split
print(a.split(",")) # returns ['Hello', ' World!']

#to check certain phrase or character is present in a string, we can use the keywords in or not in.
txt = "The rain in Spain stays mainly in the plain"
x = "ain" in txt
print(x)

# concat
a = "Hello"
b = "World"
c = a + " " + b
print(c)

# format
quantity = 3
itemno = 567
price = 49.95
myorder = "I want {} pieces of item {} for {} dollars."
print(myorder.format(quantity, itemno, price))

myorder = "I want to pay {2} dollars for {0} pieces of item {1}."
print(myorder.format(quantity, itemno, price))

# escape character: Backslash \
txt = "We are the so-called \"Vikings\" from the north."
print(txt)

# translate
txt = "Good night Sam!";

x = "mSa";
y = "eJo";
z = "odnght";

mytable = txt.maketrans(x, y, z); #third parameter in the mapping table describes characters that you want to remove from the string

print(txt.translate(mytable));

# isSpace, isTitle, isNumeric, startsWith, title, swapCase

Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.
e
llo
orl
13
Hello, World!
 hello, world!
 Jollo, World!
[' Hello', ' World! ']
True
Hello World
I want 3 pieces of item 567 for 49.95 dollars.
I want to pay 49.95 dollars for 3 pieces of item 567.
We are the so-called "Vikings" from the north.
G i Joe!

In [42]:
# operators : same as C
x = 5
x **= 3 # exponent
print(x)

125

###### Collections
There are four collection data types in the Python programming language:

List is a collection which is ordered and changeable. Allows duplicate members.
Tuple is a collection which is ordered and unchangeable. Allows duplicate members.
Set is a collection which is unordered and unindexed. No duplicate members.
Dictionary is a collection which is unordered, changeable and indexed. No duplicate members.

In [55]:
# list
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[:4])

for x in thislist:
  print(x)

if "apple" in thislist:
  print("Yes, 'apple' is in the fruits list")

thislist.append("malta")
thislist.insert(1, "berry")
thislist.remove("banana")

thislist.pop()
del thislist[0]

mylist = thislist.copy() # list(thislist)

thislist.clear()

list1 = ["a", "b" , "c"]
list2 = [1, 2, 3]

list3 = list1 + list2 # list1.extend(list2)
print(list3)

[1, 5]*3
# reverse, sort

['apple', 'banana', 'cherry', 'orange']
apple
banana
cherry
orange
kiwi
melon
mango
Yes, 'apple' is in the fruits list
['a', 'b', 'c', 1, 2, 3]

[1, 5, 1, 5, 1, 5]

In [51]:
# tuple
thistuple = ("apple", "banana", "cherry")
print(thistuple)
print(thistuple[-1])
print(thistuple[-4:-1])

x = thistuple.index("cherry")
print(x)

# Tuples are unchangeable, or immutable. To change value, convert the tuple into a list, change the list, and convert the list back into a tuple.

x = ("apple", "banana", "cherry")
y = list(x)
y[1] = "kiwi"
x = tuple(y)

print(x)

# To create a tuple with only one item, you have to add a comma after the item, 
thistuple = ("apple",)
print(type(thistuple))

#NOT a tuple
thistuple = ("apple")
print(type(thistuple))

del thistuple
# print(thistuple) #this will raise an error because the tuple no longer exists

tuple1 = ("a", "b" , "c")
tuple2 = (1, 2, 3)

tuple3 = tuple1 + tuple2
print(tuple3)

('apple', 'banana', 'cherry')
cherry
('apple', 'banana')
2
('apple', 'kiwi', 'cherry')
<class 'tuple'>
<class 'str'>
('a', 'b', 'c', 1, 2, 3)

In [53]:
# set
thisset = {"apple", "banana", "cherry"}
print(thisset)

thisset.add("orange")

# To add multiple items to a set, use the update() method:
thisset.update(["orange", "mango", "grapes"])


thisset.discard("banana")

print(thisset)


x = thisset.pop() # Sets are unordered, so when using the pop() method, you will not know which item that gets removed.

print(x)

print(thisset)

thisset.clear()

#del thisset
#print(thisset)

# union() method returns a new set with all items from both sets:
set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}

set3 = set1.union(set2)
print(set3)

# update() method inserts the items in set2 into set1:
set1.update(set2)
print(set1)

{'banana', 'cherry', 'apple'}
{'apple', 'mango', 'orange', 'cherry', 'grapes'}
apple
{'mango', 'orange', 'cherry', 'grapes'}

In [ ]:
# Dictionary

thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
print(thisdict)

x = thisdict["model"]
thisdict["year"] = 2018

for x in thisdict:
  print(x)

for x in thisdict.values():
  print(x)

for x, y in thisdict.items():
  print(x, y)

thisdict["color"] = "red"
thisdict.pop("model")


mydict = thisdict.copy() # dict(thisdict)
print(mydict)

# dict constructor
thisdict = dict(brand="Ford", model="Mustang", year=1964)
# note that keywords are not string literals
# note the use of equals rather than colon for the assignment
print(thisdict)

In [54]:
# if/else

a = 200
b = 33
if b > a:
  print("b is greater than a")
elif a == b:
  print("a and b are equal")
else:
  print("a is greater than b")

# while
i = 1
while i < 6:
  print(i)
  i += 1
else:
  print("i is no longer less than 6")

# for
for x in range(6):
  print(x)

for x in range(2, 30, 3):
  print(x)

a is greater than b
1
2
3
4
5
i is no longer less than 6
0
1
2
3
4
5
2
5
8
11
14
17
20
23
26
29

In [56]:
# list comprehension
my_list = [number for number in range(0,1000) if number % 2 == 0]
my_list

[0,
 2,
 4,
 6,
 8,
 10,
 12,
 14,
 16,
 18,
 20,
 22,
 24,
 26,
 28,
 30,
 32,
 34,
 36,
 38,
 40,
 42,
 44,
 46,
 48,
 50,
 52,
 54,
 56,
 58,
 60,
 62,
 64,
 66,
 68,
 70,
 72,
 74,
 76,
 78,
 80,
 82,
 84,
 86,
 88,
 90,
 92,
 94,
 96,
 98,
 100,
 102,
 104,
 106,
 108,
 110,
 112,
 114,
 116,
 118,
 120,
 122,
 124,
 126,
 128,
 130,
 132,
 134,
 136,
 138,
 140,
 142,
 144,
 146,
 148,
 150,
 152,
 154,
 156,
 158,
 160,
 162,
 164,
 166,
 168,
 170,
 172,
 174,
 176,
 178,
 180,
 182,
 184,
 186,
 188,
 190,
 192,
 194,
 196,
 198,
 200,
 202,
 204,
 206,
 208,
 210,
 212,
 214,
 216,
 218,
 220,
 222,
 224,
 226,
 228,
 230,
 232,
 234,
 236,
 238,
 240,
 242,
 244,
 246,
 248,
 250,
 252,
 254,
 256,
 258,
 260,
 262,
 264,
 266,
 268,
 270,
 272,
 274,
 276,
 278,
 280,
 282,
 284,
 286,
 288,
 290,
 292,
 294,
 296,
 298,
 300,
 302,
 304,
 306,
 308,
 310,
 312,
 314,
 316,
 318,
 320,
 322,
 324,
 326,
 328,
 330,
 332,
 334,
 336,
 338,
 340,
 342,
 344,
 346,
 348,
 350,
 352,
 354,
 356,
 358,
 360,
 362,
 364,
 366,
 368,
 370,
 372,
 374,
 376,
 378,
 380,
 382,
 384,
 386,
 388,
 390,
 392,
 394,
 396,
 398,
 400,
 402,
 404,
 406,
 408,
 410,
 412,
 414,
 416,
 418,
 420,
 422,
 424,
 426,
 428,
 430,
 432,
 434,
 436,
 438,
 440,
 442,
 444,
 446,
 448,
 450,
 452,
 454,
 456,
 458,
 460,
 462,
 464,
 466,
 468,
 470,
 472,
 474,
 476,
 478,
 480,
 482,
 484,
 486,
 488,
 490,
 492,
 494,
 496,
 498,
 500,
 502,
 504,
 506,
 508,
 510,
 512,
 514,
 516,
 518,
 520,
 522,
 524,
 526,
 528,
 530,
 532,
 534,
 536,
 538,
 540,
 542,
 544,
 546,
 548,
 550,
 552,
 554,
 556,
 558,
 560,
 562,
 564,
 566,
 568,
 570,
 572,
 574,
 576,
 578,
 580,
 582,
 584,
 586,
 588,
 590,
 592,
 594,
 596,
 598,
 600,
 602,
 604,
 606,
 608,
 610,
 612,
 614,
 616,
 618,
 620,
 622,
 624,
 626,
 628,
 630,
 632,
 634,
 636,
 638,
 640,
 642,
 644,
 646,
 648,
 650,
 652,
 654,
 656,
 658,
 660,
 662,
 664,
 666,
 668,
 670,
 672,
 674,
 676,
 678,
 680,
 682,
 684,
 686,
 688,
 690,
 692,
 694,
 696,
 698,
 700,
 702,
 704,
 706,
 708,
 710,
 712,
 714,
 716,
 718,
 720,
 722,
 724,
 726,
 728,
 730,
 732,
 734,
 736,
 738,
 740,
 742,
 744,
 746,
 748,
 750,
 752,
 754,
 756,
 758,
 760,
 762,
 764,
 766,
 768,
 770,
 772,
 774,
 776,
 778,
 780,
 782,
 784,
 786,
 788,
 790,
 792,
 794,
 796,
 798,
 800,
 802,
 804,
 806,
 808,
 810,
 812,
 814,
 816,
 818,
 820,
 822,
 824,
 826,
 828,
 830,
 832,
 834,
 836,
 838,
 840,
 842,
 844,
 846,
 848,
 850,
 852,
 854,
 856,
 858,
 860,
 862,
 864,
 866,
 868,
 870,
 872,
 874,
 876,
 878,
 880,
 882,
 884,
 886,
 888,
 890,
 892,
 894,
 896,
 898,
 900,
 902,
 904,
 906,
 908,
 910,
 912,
 914,
 916,
 918,
 920,
 922,
 924,
 926,
 928,
 930,
 932,
 934,
 936,
 938,
 940,
 942,
 944,
 946,
 948,
 950,
 952,
 954,
 956,
 958,
 960,
 962,
 964,
 966,
 968,
 970,
 972,
 974,
 976,
 978,
 980,
 982,
 984,
 986,
 988,
 990,
 992,
 994,
 996,
 998]